@page
@{
    Layout=null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIXTEENOZ FOOTWARE</title>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">SIXTEENOZ FOOTWARE</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
           Master
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Mahasiswa</a></li>
            <li><a class="dropdown-item" href="#">Dosen</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  
    

  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="~/images/model21.jpg" class="d-block w-100" alt="...">
    </div>
    
  </div>
</div>
</div>

<div class="row text-center mb-3">
    <div class="col">
  <h2>SELAMAT DATANG DI SIXTEENOZ FOOTWARE</h2>
  <p>Tak usah ragu tampil gaya, 
    Di SIXTEENOZ kamu Bisa Cek out dengan harga terjangkau dan bisa jadi penunjang penampilan kamu lho,
     yuk miliki sekarang.</p>
  
</div>
</div>

<div class="container">
  <div class="row text-center mb-3">
    <div class="col">
      <h2>Katalog</h2>
</div>
</div>
  <div class="row">
    <div class="col-md-4 mb-3">
      <div class="card" style="width: 18rem;">
        <img src="~/images/Sepatu1a.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Sepatu Adiddas</h5>
          <p class="card-text">Adidas AG, juga dikenal sebagai adidas, adalah sebuah perusahaan sepatu Jerman. Perusahaan ini dinamakan atas pendirinya, Adolf (Adi) Dassler, yang mulai memproduksi sepatu pada 1920-an di Herzogenaurach dekat Nuremberg. Rancangan baju dan sepatu perusahaan ini biasanya termasuk tiga strip 
            paralel dengan warna yang sama, dan motif yang sama digunakan sebagai logo resmi adidas. </p>
          <a href="#" class="btn btn-primary">Selanjutnya</a>
        </div>
      </div>
      </div>
      <div class="col-md-4 mb-3">
      <div class="card" style="width: 18rem;">
        <img src="~/images/Sepatu2N.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Sepatu Nike</h5>
          <p class="card-text">Nike, Inc. adalah salah satu perusahaan sepatu, pakaian dan
             alat-alat olahraga Amerika Serikat yang merupakan salah satu yang terbesar di dunia. 
             Mereka terkenal karena mensponsori beberapa olahragawan profesional dunia seperti Cristiano Ronaldo,
              Neymar Jr., Kylian Mbappe, , Rafael Nadal, Pete Sampras, Tiger Woods, 
              LeBron James, Kyrie Irving, dan Michael Jordan.
            Selain itu mereka juga memiliki perjanjian dengan berbagai tim sepak bola dunia .</p>
          <a href="#" class="btn btn-primary">Selanjutnya</a>
        </div>
      </div>
      </div>
      <div class="col-md-4 mb-3">
      <div class="card" style="width: 18rem;">
        <img src="~/images/Sepatu3C.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Sepatu Converse</h5>
          <p class="card-text">Converse /ˈkɒnvərs/ adalah sebuah perusahaan sepatu asal Amerika dengan hasil produksi yang terutama terdiri dari alas kaki berjenis olahraga dan brand fuz gaya hidup. Perusahaan telah berdiri sejak tahun 1908 dan, pada tahun 2003, dibeli senilai $ 305.000.000 (USD) sebagai anak perusahaan dari Nike, Inc.
            Converse memproduksi produk di bawah nama dagang seperti One Star, Chuck Taylor All Star, dan Jack Purcell.</p>
          <a href="#" class="btn btn-primary">Selanjutnya</a>
        </div>
      </div>
      </div>

      
    </div>
   </div>
   <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="~/images/model3.jpg" class="d-block w-100" alt="...">
    </div>
    
  </div>
</div>
   <div class="row text-center mb-3">
    <div class="col">
  <h2>Order Here</h2>
</div>
</div>
   <div class="row justify-content-center">
                  <div class="col-md-6">
                    <form>
                        <div class="mb-3">
                          <label for="name" class="form-label">Nama Lengkap</label>
                          <input type="text" class="form-control" id="name" aria-describedby="emailHelp">
                         
                        </div>
                        <div class="mb-3">
                          <label for="name" class="form-label">No Handphone</label>
                          <input type="text" class="form-control" id="name" aria-describedby="emailHelp">
                         
                        </div>
                        <div class="mb-3">
                          <label for="email" class="form-label">Email</label>
                          <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
                          
                        </div>
                         <div class="mb-3">
                            <label for="pesan" class="form-label">Alamat</label>
                            <textarea class="form-control" id="pesan" rows="3"></textarea>
                          </div>

                        <div class="mb-3">
                            <label for="pesan" class="form-label">Pesan</label>
                            <textarea class="form-control" id="pesan" rows="3"></textarea>
                          </div>
                        
                        <button type="submit" class="btn btn-primary">Kirim</button>
                      </form>
                  </div>
              </div>
</body>
</html>
